<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.jy.oasm.dao.VCjpgMapper" >
  <resultMap id="BaseResultMap" type="com.hd.jy.oasm.domain.VCjpg" >
    <result column="cjwxdj" property="cjwxdj" jdbcType="VARCHAR" />
    <result column="cjsl" property="cjsl" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectAllVcjpg" resultMap="BaseResultMap">
  	select * from v_cjpg
  </select>
  
  
</mapper>