<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.jy.oasm.dao.VRjpgMapper" >
  <resultMap id="BaseResultMap" type="com.hd.jy.oasm.domain.VRjpg" >
    <result column="rjwxdj" property="rjwxdj" jdbcType="VARCHAR" />
    <result column="rjsl" property="rjsl" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectAllVrjpg" resultMap="BaseResultMap">
  	select * from v_rjpg
  </select>
  
</mapper>