<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.jy.oasm.dao.VTjwxcdMapper" >

  <!--  统计再犯罪倾向 -->
  <resultMap id="ZfzResultMap" type="com.hd.jy.oasm.domain.Vtjzfz" >
    <result column="jq" property="jq" jdbcType="VARCHAR" />
    <result column="jg" property="jg" jdbcType="INTEGER" />
    <result column="gd" property="gd" jdbcType="INTEGER" />
    <result column="zd" property="zd" jdbcType="INTEGER" />
    <result column="dd" property="dd" jdbcType="INTEGER" />
  </resultMap>
  
  <!--  统计再犯罪倾向 -->
   <select id="listTjZfz" resultMap="ZfzResultMap">
  	select jq, jg, gd, zd, dd from t_tjzfz order by id;
  </select>
  
</mapper>