.pull-down-two {
    height: auto;
}

.pull-down-two select {
    width: 148px;
    height: 26px;
    float: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 微软雅黑;
    line-height: 26px;
    display: block;
    color: rgb(128, 122, 98);
    cursor: pointer;
    font-style: normal;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    border-radius: 5px;
}

.pull-down-two input {
    width: 138px;
    height: 26px;
    line-height: 26px;
    display: block;
    color: #807a62;
    cursor: pointer;
    outline: none;
    padding-left: 10px;
    font-style: normal;
    border: 1px solid #999;
    border-radius: 5px;
}

.pull-down-two .zhengjian {
    float: left;
    font-style: normal;
    margin: 0px 5px 0 20px;
    line-height: 26px;
}

.pull-down-two li {
    margin-top: 10px;
    float: left;
}

.pull-down-two span {
    width: 148px;
    height: 26px;
    float: left;
    margin-bottom: 10px;
}

.cs-s-li-b-1 {
    width: 80px;
    float: left;
}

.cs-s-li-b-2 {
    display: inline-block;
    width: 722px;
}

.cs-s-li-b-2 label {
    margin: 0 16px;
}

.cs-sx span {
    display: inline-block;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    background-color: #fcb43f;
    width: 100px;
    color: white;
}

.cs-ss-ul {
    margin-left: 82px;
}

.cs-ss-sub-li {
    display: inline-block;
}

.cs-table a {
    color: #7ecbf7;
    text-decoration: underline;
    cursor: pointer;
}

.base-right-bom-r {
    border: 0;
    background: white;
    min-height: 450px;
}

.cs-snw-box {
    clear: both;
    margin-left: 15px;
}

.cs-snw-box li {
    display: inline-block;
    color: white;
    height: 30px;
    line-height: 30px;
    background: #65bbed;
    padding: 0 10px;
    cursor: pointer;
}

.cs-a {
    color: #7ecbf7;
    text-decoration: underline;
    cursor: pointer;
}

.pcs_location {
    width: 1000px;
}